@model PageViewModel
@{
    string groupMenu = ViewBag.Group;
    string urlParam = "/admin/services/changePermit/?group=page";
    urlParam += !String.IsNullOrEmpty(groupMenu) ? "&menuSort=" + groupMenu : String.Empty;
}

@using (Html.BeginForm())
{
    @*@if (Model.UserResolution.Read)*@
    if (true)
    {
        <div class="content">
            <h1>@ViewBag.Title</h1>

            @if (string.IsNullOrEmpty(groupMenu))
            {
                <ol class="breadcrumb">
                    <li><a href="/admin/pages/">Главная</a></li>
                </ol>

                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="nesting_title">Список вложенностей</h4>
                    </div>
                    <div class="col-sm-7">
                        <div class="bubble_but">
                            @*@if (Model.UserResolution.Write)*@
                            @if (true)
                            {
                                <a class="button icon-create green" href="/admin/pages/item/@Guid.NewGuid()/?parent=@Guid.Empty">Добавить</a>
                            }
                            @if (Model.List != null && Model.List.Count() > 1)
                            {
                                <a class="button icon-sort" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-7">
                        <div class="bubble_but">
                            @if (Model.List != null && Model.List.Count() > 1)
                            {
                                <a class="button icon-sort" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a>
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.List != null && Model.List.Count() > 0)
            {
                <div class="sort_list">
                    <table id="sm_list" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="map_site_title">Название</th>
                                <th class="map_site_title"></th>
                                <th class="map_site_attach">Вложения</th>
                            </tr>
                        </thead>
                        <tbody data-service="@urlParam">
                            @foreach (var item in Model.List)
                            {
                                <tr class="ui-sortable-handle" data-id="@item.Id">
                                    @if (item.Alias != " ")
                                    {
                                        string disabled = item.IsDisabled ? "disabled" : String.Empty;

                                        string _class = String.Empty;
                                        if (!String.IsNullOrEmpty(item.Url))
                                        {
                                            _class = "icon-site-link";
                                        }
                                        else if (item.CountChilds == 0)
                                        {
                                            _class = "icon-site-page";
                                        }
                                        else
                                        {
                                            _class = "icon-site-folder";
                                        }

                                        <td class="@_class @disabled"><a href="/admin/sitemap/item/@item.Id">@item.Name</a></td>
                                        <td>
                                            @if (item.IsDeleteble)
                                            {
                                                <span title="Удаление страницы не разрешено!" class="icon-attention-circled"></span>
                                            }
                                        </td>
                                        <td class="sort-element @disabled">@item.CountChilds</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

        <div class="dop_info-block">
            <div class="dop-caption">Фильтр</div>
            @*@if (Model.Filter != null)
            {
                @Html.Partial("Partial/_filter", Model.Filter)
            }*@
        </div>
    }
    else
    {
        <div class="content">
            <p>У вас недостаточно прав.</p>
        </div>
    }

}