@model PuFrontModel
@using LkModule.Areas.Lk.Models

@{
    Layout = ViewBag.Layout;
}
<div class="content">
    <div class="block block_white block_padd block__shadow">
        <div class="block_head__blue">Приборы учета</div>

        <div class="devices_single">
            <h3 class="devices_single_name">@Model.Devices.Name</h3>
            <div class="devices_single_num">№ @Model.Devices.Number</div>

            <div class="devices_info border_and_logo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="keyval">
                            <div class="keyval_key"><span>Марка ПУ</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.Name</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Год выпуска</span></div>
                            <div class="keyval_val"></div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Дата установки</span></div>
                            <div class="keyval_val">@Model.Devices.InstallDate</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Место установки</span></div>
                            <div class="keyval_val">@Model.Devices.InstallPlace</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Дата поверки</span></div>
                            <div class="keyval_val">@Model.Devices.CheckDate</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Дата следующей поверки</span></div>
                            <div class="keyval_val"></div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Дата замены</span></div>
                            <div class="keyval_val"></div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Тариф по уровню напряжения</span></div>
                            <div class="keyval_val"></div>
                        </div>                        
                        <div class="keyval">
                            <div class="keyval_key"><span>Расчетный коэффициент</span></div>
                            <div class="keyval_val">@Model.Devices.Multiplier</div>
                        </div>
                    </div>
                    <div class="col-md-6">                        
                        <div class="keyval">
                            <div class="keyval_key"><span>Категория</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.DeviceCategory</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Разрядность (модификация)</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.EnergyCategory</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Трехфазный (да / нет)</span></div>
                            <div class="keyval_val"></div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Производитель</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.Manufactirer</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Класс точности</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.PrecissionClass</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Для счетчиков</span></div>
                            <div class="keyval_val">—</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Номинальное напряжение</span></div>
                            <div class="keyval_val">@Model.Devices.DeviceInfo.VoltageNominal</div>
                        </div>
                        <div class="keyval">
                            <div class="keyval_key"><span>Класс напряжения, кВ.</span></div>
                            <div class="keyval_val"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>