@using LkModule.Areas.Lk.Models
@model PuFrontModel

@{
    Layout = ViewBag.Layout;
    var dateRange = "";
    var dateStart = "";
    var dateEnd = "";
    if (Model.Filter != null && Model.Filter.Date.HasValue && Model.Filter.DateEnd.HasValue)
    {
        dateStart = Model.Filter.Date.Value.ToString("dd.MM.yyyy");
        dateEnd = Model.Filter.DateEnd.Value.ToString("dd.MM.yyyy");
        dateRange = $"{dateStart} - {dateEnd}";
    }
}

<div class="content">

    <div class="block block_white block_padd block__shadow">
        <div class="block_head__blue">@Model.PageName</div>



        <div class="devices-list">
            <h3 class="devices_head">Список приборов учета</h3>

            @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
            {
                foreach (var item in Model.List.Items)
                {
                    if (item.IsPu)
                    {
                        <a class="devices_item" href="/lk/pu/devices/@item.Id">№ @item.Number @item.Name </a>
                    }
                }
            }
        </div>

        <div class="devices-stat">
            <h3 class="devices_head">Общая статистика потребления всех ПУ (период/расход)</h3>


            <div class="row">
                <div class="col-xs-8 col-sm-4">
                    <div class="form-group">
                      
                        <div class="input-group date">                      
                            <input type="text" class="form-control pull-right data_period" id="js_filterDateRange-input" value="@dateRange">
                            <input type="hidden" name="datestart" id="js_filterBeginDate-input" value="@dateStart">
                            <input type="hidden" name="dateend" id="js_filterEndDate-input" value="@dateEnd">
                        </div>
                    </div>
                </div>
                <div class="cool-sm-4">
                    <a class="btn btn_border btn_border__blue" href="#" style="padding: 14px 24px 11px;">сформировать ведомость</a>
                </div>
            </div>





        </div>

       

        
    </div>



    
</div>

@section Scripts {
    <script>
        $(document).ready(function (e) {

            $('#js_filterDateRange-input').daterangepicker({
                "locale": {
                    "format": "DD.MM.YYYY",
                    "separator": " - ",
                    "applyLabel": "Применить",
                    "cancelLabel": "Отмена",
                    "fromLabel": "С",
                    "toLabel": "По",
                    "customRangeLabel": "Custom",
                    "weekLabel": "Нед",
                    "daysOfWeek": [
                        "Вс",
                        "ПН",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пн",
                        "Сб"
                    ],
                    "monthNames": [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    "firstDay": 1
                },
                "opens": "right"
            }, function (start, end, label) {
                $("#js_filterBeginDate-input").val(start.format('DD.MM.YYYY'))
                $("#js_filterEndDate-input").val(end.format('DD.MM.YYYY'))
                console.log('range: ' + label);
            });

            $('#js_filterDateRange-input').on('apply.daterangepicker', function (ev, picker) {
                $("#js_filterBeginDate-input").val(picker.startDate.format('DD.MM.YYYY'));
                $("#js_filterEndDate-input").val(picker.endDate.format('DD.MM.YYYY'));

                $("#filter-form").submit();
            });

        });


        
        
    </script>
}
<style>
    .border-block {
        padding: 30px;
        border: solid 1px #e6e6e6;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font: 15px Roboto;
        color: #262626;
    }

    label {
        color: #737780;
        font-size: 12px;
        font-style: italic;
        font-family: arial;
        font-weight: normal;
    }
</style>