@using VoteModule.Areas.Vote.Models
@model VoteFrontModel

@Html.Partial("Partial/header")

<div class="content">
    <div class="invoice">

        <div class="vote_list">
            @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
            {
                foreach (var item in Model.List.Items)
                {
                    <div class="vote_list_item">
                        <div class="news_item_date">@item.DateStart.ToString("dd.MM.yyyy")
                        @if (item.DateEnd != null)
                        {
                            DateTime d = new DateTime();
                            d = (DateTime)item.DateEnd;
                            <span> — @d.ToString("dd.MM.yyyy")</span>
                        }
                        </div>
                        <a href="/vote/item/@item.Id">@item.Title</a>
                    </div>
                    <hr />  
                }
                if (Model.List != null && Model.List.Pager != null)
                {
                    @Html.Partial("Partial/_pager", Model.List.Pager)
                }
            }
        </div>       

    </div>
</div>
