@model LkModule.Areas.Admin.Models.SubscrViewModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
{
    if (User.Identity.HasClaim(Model.ControllerName, "view"))
    {
        <div class="content">
            <h1>@Model.PageName</h1>
            <div class="row">
                <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.Item.Subscr, new { @required = "", @Title = "Лицевой счет", @placeholder = "Лицевой счет", MaxLength = "1024" })
                </div>
            </div>

            <div class="row">
                @if (Model.Item.Ee)
                {
                    <div class="col-xs-12">
                        @Html.TextBoxFor(m => m.Item.OrgName, new { @required = "", @Title = "Название организации", @placeholder = "Название организации", MaxLength = "1024" })
                    </div>
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => m.Item.Address, new { @Title = "Юридический адрес", @placeholder = "Юридический адрес", MaxLength = "2048" })
                    </div>
                }
                else
                {
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.Item.Surname, new { @required = "", @Title = "Фамилия", @placeholder = "Фамилия", MaxLength = "128" })
                    </div>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.Item.Name, new { @required = "", @Title = "Имя", @placeholder = "Имя", @MaxLength = "128" })
                    </div>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.Item.Patronymic, new { @Title = "Отчество", @placeholder = "Отчество", @MaxLength = "128" })
                    </div>
                }
                <div class="col-xs-12">
                    @Html.TextAreaFor(m => m.Item.PostAddress, new { @Title = "Почтовый адрес", @placeholder = "Почтовый адрес", MaxLength = "2048" })
                    @Html.TextBoxFor(m => m.Item.Phone, new { title = "Телефон", placeholder = "телефон", @MaxLength = "128" })
                    @Html.TextBoxFor(m => m.Item.Email, new { title = "Email", placeholder = "email", @MaxLength = "256" })
                </div>
            </div>
            @if (Model.Item.Ee && Model.Item.Bank != null)
            {
                <div class="group-block open  topIndent-20" title="Банковские реквизиты">
                    <div class="row">
                        <div class="col-xs-6">
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Name, new { @Title = "Название банка", @placeholder = "Название банка", @MaxLength = "2048" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Dep, new { @Title = "Номер подразделения", @placeholder = "Номер подразделения", @MaxLength = "16" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Bik, new { @Title = "БИК", @placeholder = "БИК", @MaxLength = "16" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Kpp, new { @Title = "КПП", @placeholder = "КПП", @MaxLength = "16" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Inn, new { @Title = "ИНН", @placeholder = "ИНН", @MaxLength = "16" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Ks, new { @Title = "К/с", @placeholder = "К/с", @MaxLength = "32" })
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Item.Bank.Rs, new { @Title = "Р/с", @placeholder = "Р/с", @MaxLength = "32" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="dop_info-block">
            <div class="dop-caption">Настройки</div>
            <div class="form-group">
                <label for="deps">Подразделение:</label>
                @Html.DropDownListFor(m => m.Item.Department, Model.Departments, new { title = "Подразделение", @class = "select2", @id = "deps" })
            </div>
            <div class="group-block open" title="Договор">
                @Html.TextBoxFor(m => m.Item.Contract, new { title = "№ договора", placeholder = "№ договора", @MaxLength = "24" })
                @Html.TextBoxFor(m => m.Item.ContractDate, new { data_type = "date", title = "Дата заключения", value = ViewBag.Date })
                @Html.TextBoxFor(m => m.Item.Begin, new { data_type = "date", title = "Действителен с", value = ViewBag.Date })
                @Html.TextBoxFor(m => m.Item.End, new { data_type = "date", title = "Действителен по", value = ViewBag.Date })

                @Html.TextBoxFor(m => m.Item.Link, new { required = "", title = "№ в ОМНИС", placeholder = "№ в ОМНИС" })
            </div>

            @Html.CheckBoxFor(m => m.Item.Disabled, new { type = "checkbox", title = "Запретить просмотр", data_toggle = "toggle", data_on = "запретить просмотр", data_onstyle = "danger", data_off = "показывать на сайте", data_offstyle = "success", data_width = "248" })
            @if (Model.Item != null)
            {
                @Html.ActionLink("Выставленные счета", "Index", "Charges", new { subscr = Model.Item.Id }, new { @class = "button icon-money", @title = "Выставленные счета" })
                @Html.ActionLink("Приборы учёта", "Index", "MeterDevices", new { subscr = Model.Item.Id }, new { @class = "button icon-gauge-1", @title = "Приборы учёта" })
                @Html.ActionLink("Поступившие платежи", "Index", "Payments", new { subscr = Model.Item.Id }, new { @class = "button icon-rouble", @title = "Поступившие платежи" })
                <br /><br />
                @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id, @type = "page" }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
            }
        </div>

        <div class="buttons">
            @if (User.Identity.HasClaim(Model.ControllerName, "edit") || User.Identity.HasClaim(Model.ControllerName, "create"))
            {
                <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
            }
            @if (User.Identity.HasClaim(Model.ControllerName, "delete") && Model.Item != null)
            {
                <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
            }
            <button type="submit" name="action" data-action="cancel" value="cancel-btn" class="button icon-cancel">Закрыть</button>
        </div>
    }
    else
    {
        <div class="content"><p>У вас недостаточно прав.</p></div>
    }
}
