@model SitesViewModel

@{
    string noPhoto = "/Content/img/nophoto.jpg";
}

@if (User.Identity.HasClaim(Model.ControllerName, "view"))
{
    <div class="content">
        <h1>
            @Model.PageName
            @if (Model.Item != null)
            {
                <span>»</span> <a href="/admin/sites/item/@Model.Item.Id" style="text-decoration:none;">@Model.Item.Title</a>
            }
        </h1>
        @if (Model.Item != null && Model.Item.Modules != null && Model.Item.Modules.Count() > 0)
        {
            foreach (var item in Model.Item.Modules)
            {
                <div class="list-item">
                    <a class="li-caption" style="text-decoration:none;">Модуль: @item.Name</a>
                    <span class="description">(@(!string.IsNullOrEmpty(item.ActionName) ? @item.ControllerName + "/" + item.ActionName : @item.ControllerName))</span>
                    <div class="topIndent-20">@item.Desc</div>

                    @if (item.ModuleParts != null && item.ModuleParts.Count() > 0)
                    {
                        <br /><br />
                        <table class="table table-striped table-condensed">
                            <tr><th>Компоненты модуля</th></tr>

                            @foreach (var part in item.ModuleParts)
                            {
                                if (part.InAdmin.HasValue && !part.InAdmin.Value)
                                {
                                    <tr>
                                        <td>
                                            <a href="/admin/siteModules/item/@part.Id">@part.Name</a>
                                            <span class="description">(@(part.ControllerName)/@(part.ActionName))</span>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                    else
                    {
                        var siteModulePart = Model.Item.Modules[0];
                        <div class="row">
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.Item.Modules[0].Desc, new { @title = "Количество записей на страницу", @type = "number" })
                            </div>
                        </div>
                        <div class="row topIndent-20">
                            <div class="col-md-12">
                                <div class="list-item">
                                    @if (siteModulePart.Templates != null && siteModulePart.Templates.Count() > 0)
                                    {
                                        <table class="table table-striped table-condensed">
                                            <tr><th colspan="3">Шаблоны</th></tr>
                                            @foreach (var template in Model.Item.Modules[0].Templates)
                                            {
                                                var imageUrl = (!string.IsNullOrEmpty(template.Image) && File.Exists(Server.MapPath(template.Image))) ? template.Image : noPhoto;
                                                var isDefault = false;
                                                if (siteModulePart.View == template.Id)
                                                {
                                                    isDefault = true;
                                                }

                                            <tr>

                                                <td>
                                                    <img src="@imageUrl" class="li-image" />
                                                </td>
                                                <td width="5%" class="td-middle">
                                                    <a class="set-template-default-btn item-default-link @(isDefault ? "active" : "")" data-link-id="@item.Id" data-template-id="@template.Id" data-url="/admin/siteModules/setDefaultTemplate" data-init="false"></a>
                                                </td>
                                                <td width="80%" class="td-middle">@template.Title</td>
                                            </tr>
                                            }
                                        </table>
                                    }

                                </div>

                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div>Нет записей</div>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
    </div>
    <div class="buttons">
        @if (User.Identity.HasClaim(Model.ControllerName, "edit") || User.Identity.HasClaim(Model.ControllerName, "create"))
        {
            using (Html.BeginForm(Model.ActionName, Model.ControllerName))
            {
                <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
            }

        }
        <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<style>
    .td-middle{
        vertical-align:middle !important;
    }
</style>
