@using PgDbase.entity
@using CartModule.Areas.Admin.Models

@model CartProductViewModel

@{
    string searchText = "";
    var disabled = false;
    var category = "";

    if (Model.Filter != null)
    {
        searchText = Model.Filter.SearchText;
        disabled = Model.Filter.Disabled.HasValue ? Model.Filter.Disabled.Value : false;
        category = Model.Filter.Category;
    }
}

@if (User.Identity.HasClaim(Model.ControllerName, "view"))
{
    <div class="content">
        <h1>@Model.PageName</h1>

        @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
        {
            foreach (var item in Model.List.Items)
            {
                string icon = "/Content/Modules/cart/img/default-50x50.gif";

                if(item.Images != null && item.Images.Count() > 0)
                {
                    icon = item.Images.Where(i => i.IsMain).Any() ? item.Images.Where(i => i.IsMain).First().Path : item.Images.First().Path;
                    if (string.IsNullOrWhiteSpace(icon) || !File.Exists(Server.MapPath(icon)))
                    {
                        icon = "/Content/Modules/cart/img/default-50x50.gif";
                    }
                }

                <div class="list-item @(item.Disabled? "disabled" : "")">
                    <a href="/admin/news/item/@item.Id">
                        <img src="@icon" alt="@item.Title" class="li-image" />
                    </a>
                    <div class="li-desc">
                        <a title="@item.Title" class="li-caption" href="/admin/cartproducts/item/@item.Id">@item.Title</a><br>
                        <span>Категории: </span>
                        @if (item.Categories != null && item.Categories.Count() > 0)
                        {
                            <small>
                                @Html.Raw(string.Join(", ", item.Categories.Select(p => $"<a href='/cart/products/list/{p.Id}'>{p.Title}</a>").ToArray()))
                            </small>
                        } <br />
                    </div>
                </div>
            }
            if (Model.List != null && Model.List.Pager != null)
            {
                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
        }
        else
        {
            <div class="noItems">Нет данных</div>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.TextBox("searchtext", searchText, new { @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })
                </div>
                <div class="form-group">
                    <label for="filterCategory-select">Категории:</label>
                    <select name="Category" id="filterCategory-select" class="form-control select2">
                        @foreach (var cat in Model.Categories)
                        {
                            <option value="@cat.Id" @(cat.Id.ToString() == category ? "selected" : null)>@cat.Title</option>
                        }
                    </select>
                </div>

                <div>
                    @Html.CheckBox("enabled", !disabled, new { type = "checkbox", title = "Отображать", data_toggle = "toggle", data_on = "Только разрешенные", data_off = "Только запрещенные", data_width = "248" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
                <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
            </div>
        }
    </div>

    using (Html.BeginForm(Model.ActionName, Model.ControllerName))
    {
        <div class="buttons">
            @if (User.Identity.HasClaim(Model.ControllerName, "create"))
            {
                <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
            }
        </div>
    }
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}