@using LkModule.Areas.Admin.Models

@model DepartmentViewModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
{
    if (User.Identity.HasClaim(Model.ControllerName, "view"))
    {
        <div class="content">
            <h1>@Model.PageName</h1>
            @Html.TextBoxFor(m => m.Item.Title, new { required = "", title = "Название", placeholder = "Название" })
            @Html.TextBoxFor(m => m.Item.Address, new { title = "Адрес", placeholder = "Адрес" })

            <div class="group-block open" title="Координаты">
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Item.Longitude, new { title = "Долгота", placeholder = "Долгота", @value = 0 })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Item.Latitude, new { title = "Широта", placeholder = "Широта", @value = 0 })
                    </div>
                    <div class="col-md-12">
                        <div id="map">
                            <script type="text/javascript">
                                Coords('@ViewBag.YCoord', '@ViewBag.XCoord', '@ViewBag.Title', '', '14');
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group-block" title="Режим работы">
                @Html.TextAreaFor(m => m.Item.WorkTime, new { type = "editor", height = "300" })
            </div>
        </div>

        <div class="dop_info-block">
            <div class="dop-caption">Настройки</div>
            @Html.CheckBoxFor(m => m.Item.Disabled, new { type = "checkbox", title = "Запретить просмотр", data_toggle = "toggle", data_on = "запретить просмотр", data_onstyle = "danger", data_off = "показывать на сайте", data_offstyle = "success", data_width = "248" })
            @if (Model.Item != null)
            {
                @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id, @type = "page" }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
            }
        </div>

        <div class="buttons">
            @if (User.Identity.HasClaim(Model.ControllerName, "edit") || User.Identity.HasClaim(Model.ControllerName, "create"))
            {
                <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
            }
            @if (User.Identity.HasClaim(Model.ControllerName, "delete") && Model.Item != null)
            {
                <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
            }
            <button type="submit" name="action" data-action="cancel" value="cancel-btn" class="button icon-cancel">Закрыть</button>
        </div>
    }
    else
    {
        <div class="content"><p>У вас недостаточно прав.</p></div>
    }
}
