@model List<PageModel>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    string _class1 = (item.Url == ViewBag.ThisUrl) ? "treeview active" : "treeview";
                    <li class="@_class1">
                        <a href="@item.Url">
                            <i class="fa @item.FaIcon"></i><span>@item.Name</span>
                            @if (item.Childrens != null)
                            {
                                <i class="fa fa-angle-left pull-right"></i>
                            }
                        </a>
                        @if (item.Childrens != null)
                        {
                            <ul class="treeview-menu">
                                @foreach (var child in item.Childrens)
                                {
                                    string _class2 = (child.Url == ViewBag.ThisUrl) ? "class=active" : "";
                                    <li @_class2>
                                        <a href="@child.Url">
                                            <i class="fa fa-circle-o"></i>
                                            @child.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }

            }
            @if (User.Identity.IsAuthenticated)
            {
                <li class="li-divider"></li>
                <li class="treeview">
                    <a href="/settings"><i class="fa fa-cog"></i><span>Настройки</span></a>
                </li>
                <li class="treeview">
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i><span>Выйти</span></a>
                </li>
            }
            else
            {
                <li class="treeview">
                    <a href="/account/Login"><i class="fa fa-sign-in"></i><span>Вход</span></a>
                </li>
            }

            <li class="li-divider"></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-file-pdf-o"></i><span>Руководство пользователя</span></a>
            </li>
        </ul>

    </section>
</aside>
