@using LkModule.Areas.Lk.Models
@model  SubscrWidgetFrontModel

@if (Model.Item != null)
{

    <div class="block block__white">
        <div class="block_headr">
            Текущий баланс
        </div>

        <div class="bloc_bal">
            <div class="ramka ramka__dotted text-center">
                <div class="bloc_bal_this">Текущий баланс</div>
                <div class="bloc_bal_date">
                    на
                    @(Model.Item.Date.HasValue ? Model.Item.Date.Value.ToString("dd.MM.yyyy") : DateTime.Now.ToString("dd.MM.yyyy"))
                </div>
                <div class="bloc_bal_sum @(Model.Item.Saldo.HasValue && Model.Item.Saldo.Value>0 ?"bloc_bal__green": "bloc_bal__red")">
                    @(Model.Item.Saldo.HasValue ? Model.Item.Saldo.Value.ToString("N2") : "-")
                    &nbsp;<i class="fa fa-rub"></i>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="bloc_bal_key">Пени</div>
                        <div class="bloc_bal_val">
                            @(Model.Item.Peni.HasValue ? Model.Item.Peni.Value.ToString("N2") : "-")
                            <i class="fa fa-rub"></i>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="bloc_bal_key">Проценты</div>
                        <div class="bloc_bal_val">
                            <div class="bloc_bal_val">
                                @(Model.Item.Percent.HasValue ? Model.Item.Percent.Value.ToString("N2") : "-") <i class="fa fa-rub"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bloc_bal_botttom">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        Последний платеж <br />
                                         <span>@(Model.Item.LastPaymentDate.HasValue ? Model.Item.LastPaymentDate.Value.ToString("dd.MM.yyyy") : "-")</span>
                    </div>
                    <div class="col-xs-6 text-right">
                        @(Model.Item.LastPaymentAmount.HasValue ? Model.Item.LastPaymentAmount.Value.ToString("N2") : "0.00") 
                        <i class="fa fa-rub"></i><br />
                        <a href="/lk/payments" class="link  link__orange">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
