@using System.Globalization

<div class="row">
    <div class="col-xs-12">

        <div class="topIndent-20">
            <h3>1. Заполните форму</h3>

            @using (Html.BeginForm("ChangePass", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="border-block">
                    <div class="tariff-mode tariff-mode-1">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3"><label>Показания на @DateTime.Now.ToShortDateString()<br />КВт*ч</label></div>
                            <div class="col-xs-3"><label>Текущее показание<br />КВт*ч</label></div>
                            <div class="col-xs-2"><label>Тариф<br />руб</label></div>
                            <div class="col-xs-2"><label>Сумма платежа<br />руб</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 text-right"><label>Сутки(T1)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                    </div>
                    <div class="tariff-mode tariff-mode-2 hidden">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3"><label>Показания на @DateTime.Now.ToShortDateString()<br />КВт*ч</label></div>
                            <div class="col-xs-3"><label>Текущее показание<br />КВт*ч</label></div>
                            <div class="col-xs-2"><label>Тариф<br />руб</label></div>
                            <div class="col-xs-2"><label>Сумма платежа<br />руб</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 text-right"><label>День(T1)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                        <div class="row topIndent-5">
                            <div class="col-xs-2 text-right"><label>Ночь(T2)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                    </div>
                    <div class="tariff-mode tariff-mode-3 hidden">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3"><label>Показания на @DateTime.Now.ToShortDateString()<br />КВт*ч</label></div>
                            <div class="col-xs-3"><label>Текущее показание<br />КВт*ч</label></div>
                            <div class="col-xs-2"><label>Тариф<br />руб</label></div>
                            <div class="col-xs-2"><label>Сумма платежа<br />руб</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 text-right"><label>Пик(T1)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                        <div class="row topIndent-5">
                            <div class="col-xs-2 text-right"><label>Ночь(T2)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                        <div class="row topIndent-5">
                            <div class="col-xs-2 text-right"><label>Полупик(T3)</label></div>
                            <div class="col-xs-3">@Html.TextBox("PrevVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-3">@Html.TextBox("CurrentVal", "", new { @class = "form-control", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("TarifVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                            <div class="col-xs-2">@Html.TextBox("AmountVal", "145.00", new { @class = "form-control", @readOnly = "true", @required = "" })</div>
                        </div>
                    </div>
                    <div class="row topIndent-20">
                        <div class="col-xs-12"><label><i class="fa fa-fw fa-info-circle"></i> Если у вас уже есть сформированный файл, сразу переходите к пункту 2</label></div>
                    </div>
                </div>
                <div class="button-block topIndent-20">
                    <div class="row">
                        <div class="col-xs-offset-9 col-xs-3">
                            <input type="button" class="btn btn-block btn-default" value="Сформировать файл" />
                        </div>
                    </div>
                </div>
            }

            <h3>2. Загрузите файл</h3>
            <div class="border-block">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="file" accept=".xls" required multiple />
                    </div>
                </div>
                <div class="row topIndent-20">
                    <div class="col-xs-12"><label><i class="fa fa-fw fa-info-circle"></i> Загрузите сформированный файл и нажмите "Отправить"<br /><br /></label></div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-xs-offset-9 col-xs-3">
                    <input type="submit" class="btn btn-block btn-warning" value="Отправить" />
                </div>
            </div>

            <div class="topIndent-20"><label>* Убедитесь в правильности выбранного прибора учета.</label></div>
        </div>
    </div>
</div>