@using LkModule.Areas.Lk.Models
@model InvoiceFrontModel
@{
    Layout = ViewBag.Layout;
    int i = 1;
}


@Html.Partial("Partial/header")

<div class="content">
    @Html.Partial("/sites/rushydro/view/module/lk/Invoices/Part/Filter.cshtml")


    @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
    {
        foreach (var item in Model.List.Items)
        {
            decimal amountWithOutTax = (item.Amount.HasValue) ? item.Amount.Value : 0.00m;
            if (item.Tax.HasValue)
            {
                amountWithOutTax = amountWithOutTax - item.Tax.Value;
            }

            <div>
                <table class="table">
                    <tr>
                        <td>@item.DocType № @item.Number <span>от @item.Date.ToString("dd.MM.yyyy")</span></td>
                        <td>Период: @item.Period</td>
                        <td>
                            <a class="" role="button" data-toggle="collapse" href="#invoice_@item.Link" aria-expanded="false" aria-controls="collapseExample">
                                Подробнее
                            </a>
                        </td>
                    </tr>
                </table>

                <div class="collapse" id="invoice_@item.Link">
                    <div class="well">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default">Распечатать</button>
                        </div>
                        <div>
                            <div>Статус: @item.Status</div>
                            <div>Договор: @item.SaleCategory</div>
                            <div>Задолженность: @item.DebtType</div>
                            @if (item.DateBegin.HasValue && item.DateEnd.HasValue)
                            {
                            <div>Расчет с @item.DateBegin.Value.ToString("dd.MM.yyyy") по @item.DateEnd.Value.ToString("dd.MM.yyyy")</div>
                            }
                            @if (item.DateDue.HasValue)
                            {
                            <div>Оплата до: @item.DateDue.Value.ToString("dd.MM.yyyy")</div>
                            }
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Наименование<br /><small>(объем)</small></th>
                                    <th>Зона</th>
                                    <th>Тариф</th>
                                    <th>Количество<br /><small>(объем)</small></th>
                                    <th>Цена<br /><small>(без НДС)</small></th>
                                    <th>НДС</th>
                                    <th>Сумма<br /><small>(с НДС)</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(item.Details != null && item.Details.Count() > 0)
                                {
                                    foreach (var detail in item.Details)
                                    {
                                <tr>
                                    <td>@detail.Tariff</td>
                                    <td>@detail.TimeZone</td>

                                    <td>@detail.Quantity | @detail.Quantity0 | @detail.Quantity1</td>
                                    <td>@detail.TariffAmount | @detail.TariffAmount0 | @detail.TariffAmount0</td>
                                    <td></td>
                                    <td>@detail.TaxAmount | @detail.TaxAmount0 | @detail.TaxAmount1</td>
                                    <td>@detail.Amount | @detail.Amount0 | @detail.Amount1</td>
                                </tr>
                                    }
                                }

                                <tr>
                                    <td><b>Итого:</b></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @item.Quantity
                                        @if (item.Quantity2.HasValue && item.Quantity2 > 0m)
                                        {<br />@item.Quantity2}
                                    </td>
                                    <td>@amountWithOutTax.ToString("N2")</td>
                                    <td>@(item.Tax.HasValue ? item.Tax.Value.ToString("N2") : "")</td>
                                    <td>@(item.Amount.HasValue ? item.Amount.Value.ToString("N2") : "")</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            i++;
        }

        @Html.Partial("Partial/_pager", Model.List.Pager)

    }
    else
    {
        <div class="box invoice topIndent-20">
            <div class="noItems">Нет данных</div>
        </div>
    }
</div>
