@model SitesViewModel

@*@if (Model.UserResolution.Read)*@
@if (true)
<div class="content">
    <h1>@ViewBag.Title</h1>
    @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
    {
        foreach (var item in Model.List.Items)
        {
            string disabled = (item.Disabled) ? "disabled" : String.Empty;
            <div class="list-item @disabled">
                <a title="" class="li-caption" href="/admin/users/item/@item.Id/@ViewBag.urlQuery">@item.Title</a>                
                @*<div class="li-desc"><span>E-mail:</span> @item.Email</div>*@
            </div>
        }
    }
</div>
<div class="dop_info-block">
    <div class="dop-caption">Фильтр</div>
    @Html.Partial("Part/SearchFilter")
</div>