@using LkModule.Areas.Lk.Models
@model PaymentFrontModel

@{
    Layout = ViewBag.Layout;
}

@Html.Partial("Partial/header")

<div class="content">

    @Html.Partial("/Views/Modules/Payments/Part/Filter.cshtml")
    <div class="invoice">
        @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
        {
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Период</th>
                    <th>Дата платежа</th>
                    <th>Сумма</th>
                    <th>Выставленный документ</th>
                </tr>
                @foreach (var item in Model.List.Items)
                {
                    <tr>
                        <td>@item.Date.ToString("MM.yyyy")</td>
                        <td>@item.Date.ToString("dd.MM.yyyy")</td>
                        <td>
                            @(item.Amount.HasValue ? item.Amount.Value.ToString("N2") : "")
                        </td>
                        <td><a href="#">#1234567</a></td>
                    </tr>
                }
            </table>

            @Html.Partial("Partial/_pager", Model.List.Pager)
        }
        else
        {
            <div class="noItems">Нет данных</div>
        }
    </div>
</div>