@using LkModule.Areas.Lk.Models
@model PaymentFrontModel

@{
    Layout = ViewBag.Layout;
    var dateRange = "";
    if (!string.IsNullOrEmpty(ViewBag.beginDate))
    {
        dateRange = ViewBag.beginDate;
    }
    if (!string.IsNullOrEmpty(ViewBag.endDate))
    {
        dateRange = dateRange + " - " + ViewBag.endDate;
    }
}


<div class="content">
    <div class="block block_white block_padd block__shadow">
        <div class="block_head__blue">@Model.PageName</div>

        @Html.Partial("/sites/rushydro/view/module/lk/Payments/Part/Filter.cshtml")

        <div class="invoice">
            @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
            {
                <table class="table table-striped table-condensed payments">
                    <tr>
                        <th>Дата платежа</th>
                        <th>Связанный документ</th>
                        <th>Сумма</th>
                    </tr>
                    @foreach (var item in Model.List.Items)
                    {
                        <tr title="@item.Destination">
                            <td>@item.Date.ToString("dd.MM.yyyy")</td>
                            <td>
                                @if (item.Documents != null && item.Documents.Count() > 0)
                                {
                                    foreach (var doc in item.Documents)
                                    {
                                        <a href="@doc.Id" class="js_printDocument-link">
                                        @doc.Type
                                        @(!string.IsNullOrEmpty(doc.Number) ? "N " + doc.Number : "")
                                        от @doc.Date.ToString("dd.MM.yyyy")
                                    </a>
                                }
                            }
                            </td>
                            <td>
                                <span class="paysum">@(item.Amount.HasValue ? item.Amount.Value.ToString("N2") : "")</span>
                            </td>
                        </tr>
                    }
                </table>

                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
            else
            {
                <div class="noItems topIndent-20">Нет данных за выбранный период</div>
            }
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/sites/rushydro/content/module/lk/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $(".js_printDocument-link").on("click", function (e) {
                e.preventDefault();
                alert("Данный функционал находится в разработке. Идентификатор документа " + $(this).attr("href"));
            });
        });
    </script>
}