@using CartModule.Areas.Cart.Models
@model ProductCategoryFrontModel

<link href="/Content/Modules/Cart/css/styles.css" rel="stylesheet">
<script src="/Content/Modules/Cart/js/script.js"></script>

@Html.Partial("Partial/header")
@{ 
    string inCart = "";
    string chkbxlabel = "Заказать";
}

<div class="content product_list topIndent-20">
 
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title"><a href="#"><i class="fa fa-tags"></i> @Model.Item.Title</a></h3>
        </div>
        <div class="box-body">
            всего: @Model.Item.Products.Pager.TotalCount
        </div>
    </div>

    <div class="row">
        @if (Model.Item.Products != null && Model.Item.Products.Items != null && Model.Item.Products.Items.Count() > 0)
        {
            foreach (var item in Model.Item.Products.Items)
            {
                var itemImagePath = "/Content/Modules/cart/img/default-50x50.gif";
                var itemImageTitle = "Фото товара";

                if (item.Images != null && item.Images.Count() > 0)
                {
                    var image = item.Images.First();

                    if (item.Images.Where(i => i.IsMain).Any())
                    {
                        image = item.Images.Where(i => i.IsMain).First();

                    }
                    if(File.Exists(image.Path))
                    {
                        itemImagePath = image.Path;
                    }
                    if(!string.IsNullOrEmpty(image.Title))
                    {
                        itemImageTitle = image.Title;
                    }
                }
               
                <div class="col-md-4 col-lg-3">
                    <div class="box box-solid product_item">
                        <div class="box-header with-border">
                            <h3 class="box-title"><small>КОД:</small> @item.Number</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            @if (item.Discount.HasValue)
                            {
                                <div class="label label-warning pull-right">@item.Discount.Value.ToString("N0")%</div>
                            }

                            <div class="item_image">
                                <a href="/cart/products/item/@item.Id">
                                    <img src="@itemImagePath" alt="@itemImageTitle" title="@itemImageTitle">
                                </a>
                            </div>

                            <div class="item_price clearfix">
                                <span class="price_old">@item.PriceInfoPrev</span>
                                <span class="price_new">@item.PriceInfo</span>
                            </div>

                            <div class="item_link">
                                <a href="/cart/products/item/@item.Id">
                                    @item.Title
                                </a>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="pull-left">
                                @if(Model.InCart != null && Model.InCart.Count() > 0 && Model.InCart.Contains(item.Id))
                                {
                                    inCart = "checked";
                                    chkbxlabel = "В корзине";
                                }
                                <input type="checkbox" id="product_@item.Id" data-product-id="@item.Id" class="iCheck js_order-product-chkbx" @inCart />
                                <label for="product_@item.Id">@chkbxlabel</label>
                            </div>

                            <a class="pull-right" href="/cart/orders/new/" title="Перейти в корзину"><i class="fa fa-shopping-cart"></i></a>

                            @*<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>*@
                        </div>
                    </div>
                </div>
            }

            @Html.Partial("Partial/_pager", Model.Item.Products.Pager)
        }
        else
        {
            <div class="box box-solid">
                <div class="box-body">
                    <div class="noItems">Нет товаров в данной категории</div>
                </div>
            </div>
        }
    </div>
</div>
