@using LkModule.Areas.Lk.Models
@model InvoiceFrontModel
@{
    Layout = null;
}

@{
    var dateRange = "";
    if (!string.IsNullOrEmpty(ViewBag.beginDate))
    {
        dateRange = ViewBag.beginDate;
    }
    if (!string.IsNullOrEmpty(ViewBag.endDate))
    {
        dateRange = dateRange + " - " + ViewBag.endDate;
    }
}
<div class="filterByDateBlock">
    <form role="form">
        <div class="row">
            <div class="col-xs-8 col-sm-3">
                <div class="form-group">
                    <label for="filterDateRange-input" class="control-label">Диапазон: </label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="filterDateRange-input" value="@dateRange">
                        <input type="hidden" name="datestart" id="filterBeginDate-input" value="@ViewBag.beginDate">
                        <input type="hidden" name="dateend" id="filterEndDate-input" value="@ViewBag.endDate">
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-3">
                <div class="form-group">
                    <label for="filterDocType-select" class="control-label">Тип документа: </label>
                    <select name="type" id="filterDocType-select" class="form-control select2">
                        <option value="">Все</option>
                        @if (Model.DocTypes != null && Model.DocTypes.Count() > 0)
                        {
                            foreach (var docType in Model.DocTypes)
                            {
                                <option value="@docType.Id">@docType.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-8 col-sm-3">
                <div class="form-group">
                    <label for="filterPayed-select" class="control-label">Статус: </label>
                    <select name="category" id="filterPayed-select" class="form-control select2">
                        <option value="">Все</option>
                        <option value="1">Оплаченные</option>
                        <option value="0">Неоплаченные</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="margin-top: 25px;">Показать</button>
                </div>
            </div>

        </div>
    </form>
</div>
