@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Portal.Models
@using MessagesModule.Areas.Admin.Models
@model MessagesViewModel
@{ 
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = manager.FindById(User.Identity.GetUserId());    
}

@using (Html.BeginForm(Model.ActionName, Model.ControllerName))
{
    <div class="content">
        <h1>@Model.PageName</h1>
        <div class="msg">
            @if (Model.Item != null)
            {
                <h4 class="msg_thema">Тема: @Model.Item.Theme</h4>

            }
            <div class="msg_form">
                @if (Model.Item == null)
                {
                    <div class="form-group">
                        <label>Кому:</label>
                        @Html.DropDownListFor(m => m.Item.UserDestination, Model.UserList,new { @class = "select2" })
                    </div>
                    @Html.TextBoxFor(m=>m.Item.Theme,new {@class= "uc_input",@title="Тема" })                    
                    <br/>
                }

                <div class="form-group">
                    @Html.TextAreaFor(m => m.Item.Text,new { @class = "form-control",@placeholder="Текст...",@rows="5" })
                </div>
                

                @if (User.Identity.HasClaim(Model.ControllerName, "edit") || User.Identity.HasClaim(Model.ControllerName, "create"))
                {
                    <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Отправить</button>
                }
            </div>
            
            <div class="row">
                <div class="msg-list">
                    @if (Model.MessageHistory != null && Model.MessageHistory.Count > 0)
                    {
                        foreach (var msg in Model.MessageHistory)
                        {
                            string UserName = "";
                            if (user.Id == msg.MsgUser.Id.ToString())
                            {
                                UserName = "Вы";
                            }
                            else
                            {
                                UserName = @msg.MsgUser.Surname + " " + msg.MsgUser.Name;
                            }
                            string _class = "";
                            if (!msg.Admin)
                            {
                                _class = "msg_user";
                            }
                            <div class="msg_item @_class">
                                <div class="msg_date">
                                @msg.Date.ToString("d")
                                    <div class="msg_time">@msg.Date.ToString("T")</div>
                                </div>
                                <div class="msg_info">
                                    <div class="msg_user">
                                        <a href="/Admin/siteUsers/item/@msg.MsgUser.Id">@UserName</a>
                                    </div>
                                    <div class="msg_user_group">
                                        @if (msg.Admin)
                                        {
                                            <span>администратор</span>
                                        }
                                        else
                                        {
                                            <span>пользователь</span>
                                        }

                                    </div>
                                    <div class="msg_text">@msg.Text</div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>

            
        </div>
        
        
        
    </div>
    @*<div class="dop_info-block">
        <div class="dop-caption icon-layers">Доп. параметры</div>   
    </div>*@
    <div class="buttons">        
        @if (User.Identity.HasClaim(Model.ControllerName, "delete"))
        {
            <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
        }
        <button type="submit" name="action" value="cancel-btn" data-action="cancel" class="button icon-cancel">Закрыть</button>
    </div>
}

@section scripts{
 
    }