@using LkModule.Areas.Lk.Models

@model PuFrontModel

@Html.Partial("Partial/header")

<div class="content">
    <h1>@Model.PageName</h1><br />
    @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
    {
        foreach (var item in Model.List.Items)
        {
            string disabled = item.Disabled ? "disabled" : "";

            <div class="box invoice topIndent-20">
                <div class="box-header with-border">
                    <h3 class="box-title">Счетчик: @item.Name (№ @item.Number)</h3>

                    @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <div class="li-desc"><span>Дата установки:</span> @(item.InstallDate.HasValue ? item.InstallDate.Value.ToString("dd.MM.yyyy") : "")</div>
                        <div class="li-desc"><span>Адресс установки:</span> @item.InstallPlace</div>
                        <div class="li-desc"><span>Дата проверки:</span> @(item.CheckDate.HasValue ? item.CheckDate.Value.ToString("dd.MM.yyyy") : "")</div>
                        @if (item.DeviceInfo != null)
                        {
                            <div class="li-desc"><span>Марка:</span> @item.DeviceInfo.Name</div>
                            <div class="li-desc"><span>Разрядность:</span> @item.DeviceInfo.Modification</div>
                            <div class="li-desc"><span>Производитель:</span> @item.DeviceInfo.Manufactirer</div>
                            <div class="li-desc"><span>Вид:</span> @item.DeviceInfo.EnergyCategory &nbsp; <span>Класс:</span> @item.DeviceInfo.PrecissionClass &nbsp; <span>Напряжение:</span> @item.DeviceInfo.VoltageNominal</div>
                            <div class="li-desc"><span>Тип:</span> @item.DeviceInfo.DeviceCategory &nbsp; <span>Трехфазный:</span> @(item.DeviceInfo.Phase3 ? "да" : "нет")</div>
                            <div class="li-desc"><span>Тариф:</span> @item.DeviceInfo.Tariff</div>
                        }

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="topIndent-20">Нет данных</div>
    }
</div>
