@using VoteModule.Areas.Vote.Models
@model VoteFrontModel

@Html.Partial("Partial/header")
<div class="content">
    <div class="invoice">
        <div class="vote_single">
            <a href="/vote"><span aria-hidden="true">&laquo;</span> В список</a>
            <h3>@Model.Item.Title</h3>
            <div class="vote_single_text">
                @Html.Raw(Model.Item.Text)
            </div>
            
            
            @if (Model.Item.ShowStat)
            {
                foreach (var item in Model.Item.ListStat)
                {
                    <div class="vote_stat">
                        <div class="clearfix">
                            <span class="pull-left">@item.Variant <i>(@item.CurrentCount из @item.AllCount)</i></span>
                            <small class="pull-right">@item.Proc%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: @item.Proc%;"></div>
                        </div>
                    </div>                    
                }

            }
            else
            {
                using (Html.BeginForm("VoteAction", "Vote"))
                {
                    if (Model.Item.List != null)
                    {
                        @Html.HiddenFor(m => m.Item.Id)
                        <div class="form-group">
                            @foreach (var variant in Model.Item.List)
                            {
                                if (Model.Item.TypeMulti)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="@variant.Id" name="variant" />@variant.Variant</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="radio">
                                        <label><input type="radio" value="@variant.Id" name="variant" />@variant.Variant</label>
                                    </div>
                                }
                            }
                        </div>
                    }
                    <button type="submit" class="btn btn_orange">Голосовать</button>
                }
            }


            



        </div>
    </div>
</div>