@model InfoFrontModel
@{ 
    DateTime dBegin;
    if (Model.DefaultSubscrInfo.Begin != null)
    {
        dBegin = (DateTime)Model.DefaultSubscrInfo.Begin;
    }
}
@Html.Partial("Partial/header")


<div class="content">
    <h1>@Model.PageName</h1>
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-info-circle"></i>Лицевой счет @Model.DefaultSubscrInfo.Name @Model.DefaultSubscrInfo.Subscr
                    @*<small class="pull-right">@Model.DefaultSubscrInfo.</small>*@
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 invoice-col">
                @if (Model.DefaultSubscrInfo.Ee)
                {
                    <b>Лицо: </b>@Model.DefaultSubscrInfo.Surname @Model.DefaultSubscrInfo.Name @Model.DefaultSubscrInfo.Patronymic
                }
                else
                {
                    <b>ФИО: </b>@Model.DefaultSubscrInfo.Surname @Model.DefaultSubscrInfo.Name @Model.DefaultSubscrInfo.Patronymic
                }
                <br />
                <b>E-mail: </b>@Model.DefaultSubscrInfo.Email
                <br />
                <b>Название организации: </b>@Model.DefaultSubscrInfo.OrgName
                <br />
                <b>Телефон: </b>@Model.DefaultSubscrInfo.Phone
                <br />
                <b>Почтовый адрес: </b>@Model.DefaultSubscrInfo.PostAddress
                <br />
                @if (Model.DefaultSubscrInfo.Begin != null)
                {
                    <b>Действителен с: </b> <span>@Model.DefaultSubscrInfo.Begin</span>
                    <br />
                }

                <b>Действителен по: </b>@Model.DefaultSubscrInfo.End
                <br />
                <br />

            </div>
            <div class="col-md-6 invoice-col">
                <b>Банк</b>
                <br /><br />


                <b>Наименование: </b>@Model.DefaultSubscrInfo.Bank.Name
                <br />
                <b>ИНН: </b>@Model.DefaultSubscrInfo.Bank.Inn
                <br />
                <b>КПП: </b>@Model.DefaultSubscrInfo.Bank.Kpp
                <br />
                <b>Кор счет: </b>@Model.DefaultSubscrInfo.Bank.Ks
                <br />
                <b>Расчетный счет: </b>@Model.DefaultSubscrInfo.Bank.Rs
                <br />
                <b>БИК: </b>@Model.DefaultSubscrInfo.Bank.Bik
                <br />
                <b>Код подраздления:</b>@Model.DefaultSubscrInfo.Bank.Dep
                <br />
                <br />
            </div>
        </div>
    </section>
</div>


