@{
    var checkboxValue = false;
    if (!string.IsNullOrEmpty(Request.QueryString["disabled"]))
    {
        bool.TryParse(Request.QueryString["disabled"], out checkboxValue);
    }
    var checannual = false;
    if (!string.IsNullOrEmpty(Request.QueryString["annual"]))
    {
        bool.TryParse(Request.QueryString["annual"], out checannual);
    }
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            @Html.TextBox("searchtext", Request.QueryString["searchtext"], new { @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })

            @Html.CheckBox("annual", !checannual, new { type = "checkbox", title = "Повторяемость", data_toggle = "toggle", data_on = "Ежегодные", data_off = "Разовые", data_width = "248" })
            @Html.CheckBox("enabled", !checkboxValue, new { type = "checkbox", title = "Отображать", data_toggle = "toggle", data_on = "Только разрешенные", data_off = "Только запрещенные", data_width = "248" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">@Html.TextBox("datestart", Request.QueryString["datestart"], new { @class = "uc_input", @data_type = "date", @title = "Дата публикации с", @placeholder = "дд.мм.гггг" })</div>
        <div class="col-xs-6">@Html.TextBox("dateend", Request.QueryString["dateend"], new { @class = "uc_input", @data_type = "date", @title = "по", @placeholder = "дд.мм.гггг" })</div>
    </div>
    <div class="row">
        <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
        <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
    </div>
}