@model LayoutFrontModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">    
    
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/fonts/Roboto/roboto.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">*@    
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@    
    <link href="~/Content/plugins/icheck/skins/all.css" rel="stylesheet" />
    
    <link href="~/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet" />    
    
    <link href="~/Content/template/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/template/css/skin.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black layout-boxed sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                <span class="logo-mini">
                    <img src="~/Content/template/img/logo-mini.png" alt="Alternate Text" />
                </span>
                <span class="logo-lg">
                    <img src="~/Content/template/img/logo.png" alt="Лого" />
                </span>
            </a>            
            
            <nav class="navbar navbar-static-top" role="navigation">                
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (Request.IsAuthenticated)
                        {
                            if (Model.LayoutInfo.DefaultSubscr != null)
                            {
                                <li class="dropdown balance-menu">
                                    <a href="#" class="dropdown-toggle balance balance__green" data-toggle="dropdown">
                                        <span>2&nbsp;580,54</span>&nbsp;<i class="fa fa-rub"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">Баланс на 19.05.2018</li>
                                        <li> <a class="balance-menu-pay" href="#">Оплатить</a></li>
                                        <li class="footer"><a href="#">История платежей</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown notifications-menu subscr-list-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-file-text"></i> <span class="subscr-list-menu-num">№ @Model.LayoutInfo.DefaultSubscr.Subscr</span>
                                        @*<span class="label label-primary">@Model.LayoutInfo.ConnectionSubscrList.Length</span>*@
                                    </a>
                                    @if (Model.LayoutInfo.ConnectionSubscrList != null)
                                    {
                                        <ul class="dropdown-menu">
                                            <li class="header">Подключенные лицевые счета</li>
                                            <li>
                                                <ul class="menu">
                                                    @foreach (var item in Model.LayoutInfo.ConnectionSubscrList)
                                                    {
                                                        string _class = "";
                                                        if (item.Default)
                                                        {
                                                            _class = " fa-star";
                                                        }
                                                        else
                                                        {
                                                            _class = " fa-star-o";
                                                        }
                                                        <li>
                                                            <a href="#" data-id="@item.Id" class="select_ls">
                                                                <i class="fa @_class text-orange"></i> @item.Subscr - @item.Name
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>

                                    }
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/settings" class="text-orange">Подключить лицевой счет</a>
                                </li>
                            }


                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">1</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 1 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start message -->
                                                <a href="#">

                                                    <h4>
                                                        Тема сообщения
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Информация о тарифах...</p>
                                                </a>
                                            </li><!-- end message -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>

                            <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @{
                                    string Bukva = Model.User.UserInfo.Surname.Substring(0, 1);
                                    string LinkImg = "https://filin.mail.ru/letters/default/32x32/"+ Bukva + "/02/1.png";
                                }
                                <img src="https://filin.mail.ru/letters/default/32x32/@Bukva/02/1.png" class="user-image visible-xs" alt="User Image">                                
                                <span class="hidden-xs">@Model.User.UserInfo.Surname @Model.User.UserInfo.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @*<img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                    <p>
                                        @Model.User.UserInfo.FullName                                        
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/settings" class="btn btn-default btn-flat">Настройки</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Выйти</a>
                                        }
                                        
                                    </div>
                                </li>
                            </ul>
                        </li>                      
                        }
                        else
                        {
                            <li class="tasks-menu">
                                <a href="/account/Login">Войти</a>
                            </li>

                        }
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        @if (Request.IsAuthenticated)
        {
            { Html.RenderAction("PageGroup", "Widget", new { @alias = "authorize", @view = "partial/mainmenu",@url= ViewBag.ThisUrl });}
        }
        else
        {
            { Html.RenderAction("PageGroup", "Widget", new { @alias = "anonymous", @view = "partial/mainmenu", @url = ViewBag.ThisUrl });}
        }
        
        
            
        
        @*<div class="content-wrapper">            
            <section class="content">
                @RenderBody()
            </section>
        </div>*@
        <div class="content-wrapper">
            @RenderBody()
        </div>


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                
            </div>
            <strong>Copyright &copy; @DateTime.Today.Year.</strong> 
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>           
        </aside><!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/plugins/jquery/jquery.js"></script>    
    <script src="~/Content/plugins/jquery/jquery.cookie.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!--icheck-->
    <script src="~/Content/plugins/icheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/Content/plugins/mobileGallery/js/jquery.swipebox.js"></script>
    <script src="~/Content/plugins/maskedinput/jquery.maskedinput.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/template/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->    
    <script src="~/Content/template/js/demo.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
