<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>    
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet" />    
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content topIndent-20">
        <div class="topIndent-20"><br /><br /><br /></div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>


        <script src="~/Content/plugins/jquery/jquery.js"></script>
        <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/plugins/mobileGallery/js/jquery.swipebox.js"></script>
        <script src="~/Scripts/main.js"></script>
</body>
</html>