@using LkModule.Areas.Lk.Models
@model InvoiceFrontModel
@{
    int i = 1;
}

@Html.Partial("Partial/header")

<div class="content">
    @Html.Partial("/Views/Modules/Accruals/Part/Filter.cshtml")


    @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
    {
        foreach (var item in Model.List.Items)
        {
            decimal amountWithOutTax = (item.Amount.HasValue) ? item.Amount.Value : 0.00m;
            if (item.Tax.HasValue)
            {
                amountWithOutTax = amountWithOutTax - item.Tax.Value;
            }
            <div class="box box-solid topIndent-20 @(i>1? "collapsed-box":"")">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>@item.DocType № @item.Number</b> <small>от @item.Date.ToString("dd.MM.yyyy")</small></h3>
                    <div><b>Задолженность:</b> @item.DebtType</div>
                    <div><b>Период оплаты</b> @item.Period</div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa @(i>1?" fa-plus":"fa-minus")"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Количество<br /><small>(объем)</small></th>
                                    <th>Тарифицируемое<br />потребление</th>
                                    <th>Начислено<br /><small>(без НДС)</small></th>
                                    <th>НДС</th>
                                    <th>Начислено<br /><small>(с НДС)</small></th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@item.Cons</td>
                                    <td>
                                        @item.Quantity
                                        @if (item.Quantity2.HasValue && item.Quantity2 > 0m)
                                        {<br />@item.Quantity2}
                                    </td>
                                    <td>@amountWithOutTax.ToString("N2")</td>
                                    <td>@(item.Tax.HasValue ? item.Tax.Value.ToString("N2") : "")</td>
                                    <td>@(item.Amount.HasValue ? item.Amount.Value.ToString("N2") : "")</td>
                                    <td>@item.Status</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="pull-right"><small>@item.Date.ToString("dd.MM.yyyy")</small></div>
                </div>
                <!-- /.box-footer -->
            </div>
            i++;
        }

        @Html.Partial("Partial/_pager", Model.List.Pager)

    }
    else
    {
        <div class="box invoice topIndent-20">
            <div class="noItems">Нет данных</div>
        </div>
    }
</div>
