@using System.Globalization
@using LkModule.Areas.Lk.Models
@model StatisticsFrontModel

@Html.Partial("Partial/header")

@{
    ViewBag.Title = "ЛК ЧЭСК - Статистика";

    string consumptionJson = Model.ConsumptionByDateJson;
    string accrulasJson = Model.InvoicesByDateJson;
    string paymentsJson = Model.PaymentsByDateJson;

    //if (Model.ChargesList != null)
    //{

    //    var usCulture = CultureInfo.GetCultureInfo("en-US");
    //    var ruCulture = CultureInfo.GetCultureInfo("ru-RU");

    //    var minPeriod = Model.ChargesList.Min(p => p.Period);
    //    var maxPeriod = Model.ChargesList.Max(p => p.Period);
    //    var periodString = ruCulture.DateTimeFormat.MonthNames[minPeriod % 100 - 1].ToLower();
    //    if (minPeriod != maxPeriod)
    //    {
    //        if (minPeriod / 100 != maxPeriod / 100)
    //        {
    //            periodString += " " + (minPeriod / 100).ToString();
    //        }
    //        periodString += " - " + ruCulture.DateTimeFormat.MonthNames[maxPeriod % 100 - 1].ToLower();
    //    }
    //    periodString += " " + (maxPeriod / 100).ToString();

    //    var counterTypes = Model.ChargesList.Select(p => p.detail.Type).Distinct();
    //    var existsSingle = counterTypes.Any(p => p == TariffType.Single);
    //    var existsDouble = counterTypes.Any(p => p == TariffType.Double);
    //    var existsTriple = counterTypes.Any(p => p == TariffType.Triple);

    //    var consumptionHeaders = "'Месяцы'";
    //    var consumptionData = Model.ChargesList.OrderBy(d => d.Period).ToDictionary(p => p.Period, p => String.Format("'{0}`{1}'", ruCulture.DateTimeFormat.MonthNames[p.Period % 100 - 1].ToLower(), ((p.Period / 100) % 100)));
    //    if (existsSingle)
    //    {
    //        consumptionHeaders += ",'сутки'";
    //        foreach (var p in Model.ChargesList)
    //        {
    //            consumptionData[p.Period] += String.Format(",{0}", p.detail.Type == TariffType.Single ? p.detail.ValueT1 : 0);
    //        }
    //    }
    //    if (existsDouble)
    //    {
    //        consumptionHeaders += ",'день'";
    //        foreach (var p in Model.ChargesList)
    //        {
    //            consumptionData[p.Period] += String.Format(",{0}", p.detail.Type == TariffType.Double ? p.detail.ValueT1 : 0);
    //        }
    //    }
    //    if (existsTriple)
    //    {
    //        consumptionHeaders += ",'пик','полупик'";
    //        foreach (var p in Model.ChargesList)
    //        {
    //            consumptionData[p.Period] += String.Format(",{0},{1}", p.detail.Type == TariffType.Triple ? p.detail.ValueT1 : 0, p.detail.Type == TariffType.Triple ? p.detail.ValueT2 : 0);
    //        }
    //    }
    //    if (existsDouble || existsTriple)
    //    {
    //        consumptionHeaders += ",'ночь'";
    //        foreach (var p in Model.ChargesList)
    //        {
    //            consumptionData[p.Period] += String.Format(",{0}", p.detail.Type == TariffType.Single ? 0 : (p.detail.Type == TariffType.Double ? p.detail.ValueT2 : p.detail.ValueT3));
    //        }
    //    }

    //    consumptionJson = String.Format("[[{0}],{1}]", consumptionHeaders, String.Join(",", consumptionData.Select(p => String.Format("[{0}]", p.Value))));
    //    costJson = String.Format("[['Месяцы','рубли'],{0}]", String.Join(",", Model.ChargesList.OrderBy(o => o.Period).Select(p => String.Format("['{0}`{1}',{2}]", ruCulture.DateTimeFormat.MonthNames[p.Period % 100 - 1].ToLower(), ((p.Period / 100) % 100), (p.detail.AmountT1 + p.detail.AmountT2 + p.detail.AmountT3).ToString(usCulture)))));
    //}
}


<div class="content">
    @Html.Partial("/Views/Modules/Statistics/Part/Filter.cshtml")

    <div class="nav-tabs-custom topIndent-20">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Начисления</a></li>
            <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Расходы</a></li>
            <li><a href="#tab_3" data-toggle="tab" aria-expanded="false">Потребление</a></li>

            @*<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <br />
                <div id="chartAccruals" class="chart-block"></div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <br />
                <div id="chartPayments" class="chart-block"></div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
                <br />
                @*<div id="chartConsumption" class="chart-block"></div>*@
                Нет данных
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>



@if (Model != null)
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['bar', 'corechart'], 'language': 'ru' });
            google.charts.setOnLoadCallback(drawCharts);
            //google.load("visualization", "1.4", { packages: ['bar'] });
            //google.setOnLoadCallback(drawCharts);

            function drawCharts() {
                //var dataConsumption = google.visualization.arrayToDataTable(eval("@Html.Raw(consumptionJson)"));
                var dataAccruals = google.visualization.arrayToDataTable(eval("@Html.Raw(accrulasJson)"));
                var dataPayments = google.visualization.arrayToDataTable(eval("@Html.Raw(paymentsJson)"));

                var optionsConsumption = {
                    isStacked: false,
                    hAxis:{
                        logScale : true
                    },
                    chart: {
                        title: 'Потребление за @ViewBag.beginDate–@ViewBag.endDate',
                        //subtitle: 'кВт*ч',
                    },
                    //bars: 'vertical',
                    vAxis: { format: 'decimal' },
                    height: 400,
                    width: 760,
                    colors: ['#ffa000', '#a3b5d9', '#476db3', '#ff7900', '#0039a6'],
                    legend: { position: 'top', textStyle: { color: 'blue', fontSize: 14 } }
                    //bar: { groupWidth: 50 }
                };

                var optionsAccruals = {
                    isStacked: false,
                    chart: {
                        title: 'Начисления за @ViewBag.beginDate–@ViewBag.endDate',
                        //subtitle: 'руб.',
                    },
                    //bars: 'vertical',
                    vAxis: { format: 'decimal' },
                    height: 400,
                    width: 760,
                    colors: ['#ffa000'],
                    legend: { position: 'top', textStyle: { color: 'blue', fontSize: 14 } }
                };

                var optionsPayments = {
                    isStacked: false,
                    chart: {
                        title: 'Расходы за @ViewBag.beginDate–@ViewBag.endDate',
                        //subtitle: 'руб.',
                    },
                    //bars: 'vertical',
                    vAxis: { format: 'decimal' },
                    height: 400,
                    width: 760,
                    colors: ['#ffa000'],
                    legend: { position: 'top', textStyle: { color: 'blue', fontSize: 14 } }
                };

                //var chartConsumtion = new google.charts.Bar(document.getElementById('chartConsumption'));
                var chartAccruals = new google.charts.Bar(document.getElementById('chartAccruals'));
                var chartPayments = new google.charts.Bar(document.getElementById('chartPayments'));

                //chartConsumtion.draw(dataConsumption, optionsConsumption);
                chartAccruals.draw(dataAccruals, optionsAccruals);
                chartPayments.draw(dataPayments, optionsPayments);
        };

        $(document).ready(function (e) {
            $('.nav-tabs li').on('click', function (e) {
                google.charts.setOnLoadCallback(drawCharts);
            });
        });
    </script>
    <style>
        div.google-visualization-tooltip {
            font-size:12px;
        }
    </style>
}
