@*@model CmsMenuModel[]*@
@model CoreViewModel
@{
    Layout = null;
    string ActiveClass = "";
} 

@if (Model.Menu != null && Model.Menu.Count() > 0)
{
    foreach (var menuGroup in Model.Menu)
    {
        if (menuGroup.Childs != null && menuGroup.Childs.Count() > 0)
        {
            <div class="admin-menu @menuGroup.Alias">
                @foreach (var item in menuGroup.Childs)
                {
                    string Url = "/Admin/" + item.Alias + "/";

                    try
                    {
                        if (Request.Url.Segments[2].ToString().ToLower() == item.Alias.ToLower() + "/")
                        {
                            ActiveClass = "selected";
                        }
                    }
                    catch
                    {
                        if (item.Alias.ToLower() == "main")
                        {
                            ActiveClass = "selected";
                        }
                    }
                    <div class="admin-menu_item @ActiveClass">
                        <a class="@item.Icon" href="@Url">@item.Name</a>
                    </div>
                    ActiveClass = String.Empty;
                }
                @*модули*@
                @if (menuGroup.Alias == "site")
                {
                    if (Model.MenuModules != null && Model.MenuModules.Count() > 0)
                    {
                        foreach (var Item in Model.MenuModules)
                        {
                            string Url = "/Admin/" + Item.Alias + "/";
                            try
                            {
                                if (Request.Url.Segments[2].ToString().ToLower() == Item.Alias.ToLower() + "/")
                                {
                                    ActiveClass = "selected";
                                }
                            }
                            catch
                            {
                                if (Item.Alias.ToLower() == "main")
                                {
                                    ActiveClass = "selected";
                                }
                            }
                            <div class="admin-menu_item @ActiveClass">
                                <a class="@Item.Icon" href="@Url">@Item.Name</a>
                            </div>
                            ActiveClass = String.Empty;
                        }
                    }
                }
                <hr />
            </div>
        }
    }
}