@model CmsMenuModel[]
@{
    Layout = null;
    string ActiveClass = "";
}

@if (Model != null && Model.Count() > 0)
{
    foreach (var menuGroup in Model)
    {
        if (menuGroup.GroupItems != null && menuGroup.GroupItems.Count() > 0)
        {
            <div class="admin-menu @menuGroup.Alias">
                @foreach (CmsMenuItem Item in menuGroup.GroupItems)
                {
                    string Url = "/Admin/" + Item.Alias + "/";

                    try
                    {
                        if (Request.Url.Segments[2].ToString().ToLower() == Item.Alias.ToLower() + "/")
                        {
                            ActiveClass = "selected";
                        }
                    }
                    catch
                    {
                        if (Item.Alias.ToLower() == "main")
                        {
                            ActiveClass = "selected";
                        }
                    }

                    <div class="admin-menu_item @ActiveClass">
                        <a class="@Item.Class" href="@Url">@Item.Title</a>
                    </div>

                    ActiveClass = String.Empty;
                }
                <hr />
            </div>
        }
    }
}