@using LkModule.Areas.Lk.Models

@model PuFrontModel

@Html.Partial("Partial/header")

<div class="content">
    <h1>@Model.PageName</h1><br />
    @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
    {
        foreach (var item in Model.List.Items)
        {
            string disabled = item.Disabled ? "disabled" : "";
            string meterTitle = "meter_" + item.Id;

            <div class="box invoice topIndent-20">
                <div class="box-header with-border">
                    <h3 class="box-title">Счетчик: @item.Name (№ @item.Number)</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <div class="li-desc"><span>Дата установки:</span> @(item.InstallDate.HasValue ? item.InstallDate.Value.ToString("dd.MM.yyyy") : "")</div>
                        <div class="li-desc"><span>Адресс установки:</span> @item.InstallPlace</div>
                        <div class="li-desc"><span>Дата проверки:</span> @(item.CheckDate.HasValue ? item.CheckDate.Value.ToString("dd.MM.yyyy") : "")</div>
                        @if (item.DeviceInfo != null)
                        {
                            <div class="li-desc"><span>Марка:</span> @item.DeviceInfo.Name</div>
                            <div class="li-desc"><span>Разрядность:</span> @item.DeviceInfo.Modification</div>
                            <div class="li-desc"><span>Производитель:</span> @item.DeviceInfo.Manufactirer</div>
                            <div class="li-desc"><span>Вид:</span> @item.DeviceInfo.EnergyCategory &nbsp; <span>Класс:</span> @item.DeviceInfo.PrecissionClass &nbsp; <span>Напряжение:</span> @item.DeviceInfo.VoltageNominal</div>
                            <div class="li-desc"><span>Тип:</span> @item.DeviceInfo.DeviceCategory &nbsp; <span>Трехфазный:</span> @(item.DeviceInfo.Phase3 ? "да" : "нет")</div>
                            <div class="li-desc"><span>Тариф:</span> @item.DeviceInfo.Tariff</div>
                        }

                        <div class="text-right topIndent-20">
                            <a href="#@meterTitle" class="meter-info" data-device="@item.Id" data-toggle="collapse">Показать показания</a>
                        </div>
                        <div id="@meterTitle" class="collapse">
                        </div>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="topIndent-20">Нет данных</div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function (e) {

            $(".meter-info").on("click", function () {
                $(this).toggleClass("open-info");

                if ($(this).hasClass("open-info")) {
                    $(this).text("Скрыть показания");
                }
                else {
                    $(this).text("Показать показания");
                }
                var device = $(this).data("device");

                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/Lk/Pu/GetPuMeters",
                    data: ({ device: device }),
                    success: function (data) {
                        var obj = JSON.parse(data);

                        if (obj.length > 0) {
                            var result = '<hr><h4>Переданные показания</h4><table class="table">';
                            result += "<thead><tr><th>Дата</th><th>Показание</th><th>Const</th><th>Потребление</th><th>Период</th><th>Тип</th><th>Предыдущее показание</th></tr></thead>";
                            result += "<tbody>";
                            for (var i = 0; i < obj.length; i++) {

                                result += "<tr><td>" + dateFormat(obj[i].Date) + "</td><td>" + NotNullString(obj[i].Value) + "</td><td>" + NotNullString(obj[i].Const) + "</td><td>" + NotNullString(obj[i].Quantity)
                                    + "</td><td>" + obj[i].Year + "/" + obj[i].Month + "</td><td>" + NotNullString(obj[i].DeliveryMethod) + "</td><td>"
                                    + dateFormat(obj[i].DatePrev) + " (" + NotNullString(obj[i].Days) + " дней назад)</td></tr>";
                            }
                            result += "</tbody>";
                            result += "</table>";
                            //var dev = $("#" + device + "").find(".group-block_info");
                            var dev = $("#meter_" + device + "");
                            dev.empty();
                            dev.append(result);
                        }
                    },
                    error: function (data) { }
                });
            });
        });

        function dateFormat(date) {
            if (date && date != null) {
                date = date.replace('/Date(', '').replace(')/', '');
                var d = new Date(parseInt(date));
                //var hour = addZeros(d.getHours());
                //var minutes = addZeros(d.getMinutes());
                //var seconds = addZeros(d.getSeconds());
                var day = addZeros(d.getDate());
                var month = addZeros(d.getMonth());
                var year = d.getFullYear();

                return day + '.' + month + '.' + year; //' + hour + ':' + minutes + ':' + seconds;
            }
            return '';
        };

        function addZeros(d) {
            if (d < 10) {
                d = '0' + d;
            }
            return d;
        };

        function NotNullString(str) {
            if (str != null)
                return str;
            else
                return '-';
        };
    </script>
}