@model TemplateViewModel

@*@if (Model.UserResolution.Read)*@
@if (true)
{
    <div class="content">
        <h1>@Model.PageName</h1>
        @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
        {
            <div class="row">
                @foreach (var item in Model.List.Items)
                {
                    <div class="col-md-6 template-item">
                        <a title="" class="li-caption" href="/admin/templates/item/@item.Id/@ViewBag.urlQuery">
                            <img src="@item.Image" title="@item.Title" /><br />
                            @item.Title
                        </a><br />

                        @if (item.Controller != null && item.Controller.Id != Guid.Empty)
                        {
                            <a href="/Admin/Modules/item/@item.Controller.Id">Контроллер: @item.Controller.Title</a>
                        }
                        else
                        {
                            <div class="text-danger">Контроллер: Не указан!</div>
                        }
                    </div>
                }
            </div>
            if (Model.List != null && Model.List.Pager != null)
            {
                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
        }
        else
        {
            <div>Нет записей</div>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>

        @Html.Partial("Part/Filter")
    </div>
    <div class="buttons">
        @*@if (Model.UserResolution.Write)*@
        @if (true)
        {
            using (Html.BeginForm(Model.ActionName, Model.ControllerName))
            {
                <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
            }

        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
