@using Portal.Models

@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    //Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
    Layout = "~/sites/rushydro/view/_LayoutWelcome.cshtml";
}

<div class="content">
    <div class="login-box">
        <div class="login-logo">
            <h2>@ViewBag.Title</h2>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Введите email</p>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-xs-3 col-md-2 control-label" })
                    <div class="col-xs-8 col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-6 col-md-offset-7 col-xs-5 col-md-4">
                        <input type="submit" class="btn btn-warning btn-block btn-flat" value="Отправить" />
                    </div>
                </div>
            }

            @*@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }*@
        </div>
    </div>
</div>
