@using Portal.Models

@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    //Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
    Layout = "~/sites/rushydro/view/_LayoutWelcome.cshtml";
}

<div class="content">
    
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>            
        </div>
    <div class="row">
        <div class="col-md-12">
            <p class="login-box-msg">Введите email</p>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email)*@                    
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })                    
                </div>
                <div class="btn_area">
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning btn-block btn-flat" value="Востановить" />
                    </div>
                </div>

                <div class="area_bottom">
                    <div class="row">
                        <div class="col-md-6">                            
                            @Html.ActionLink("Войти", "Login", null, new { @class = "link__orange" })
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.ActionLink("Зарегестрироваться", "Register", null, new { @class = "link__orange" })
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

         



</div>
