@using Portal.Models

@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    //Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
    Layout = "~/sites/rushydro/view/_LayoutWelcome.cshtml";

}
<div class="content">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class="form_place", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">                                        
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder = "Email", })                    
                </div>

                <div class="form-group">                                        
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder="Фамилия" })                    
                </div>
                <div class="form-group">                                        
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder="Имя" })
                </div>
                <div class="form-group">                                        
                        @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control", placeholder ="Отчество" })                    
                </div>

                <div class="form-group">
                        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control",@placeholder="Дата рождения" })                    
                </div>
                <div class="area_pass">
                    <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control",@placeholder="Пароль" })                        
                    </div>
                    <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder="Повторите пароль" })    
                    </div>
                </div>
                


                <div class="form-group">                    
                        <input type="submit" class="btn btn-warning btn-block btn-flat" value="Создать" />                    
                </div>
                <div class="area_bottom">
                    <div class="row">                        
                        <div class="col-md-6 ">
                            @Html.ActionLink("Войти", "Login", null, new { @class = "link__orange" })
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.ActionLink("Забыли пароль?", "ForgotPassword", null, new { @class = "link__orange" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>




            
</div>
