@using VoteModule.Areas.Admin.Models
@model VoteViewModel
@using (Html.BeginForm(Model.ActionName, Model.ControllerName))
{
    <div class="content">
        <h1>@Model.PageName</h1>

        @Html.TextBoxFor(m => m.Item.Title, new { @class = "uc_input", @title = "Тема" })
        @Html.TextAreaFor(m => m.Item.Text, new { @type = "editor", @height = "200",@class = "uc_input", @title = "Текст" })
        

    </div>
    <div class="dop_info-block">
        <div class="dop-caption icon-layers">Доп. параметры</div>
        @Html.TextBoxFor(m => m.Item.DateStart, new { required = "", data_type = "datetime", title = "Дата публикации", value = ViewBag.Date })
        
        @Html.TextBoxFor(m => m.Item.DateEnd, new { required = "", data_type = "datetime", title = "Завршение голосования", value = ViewBag.Date })


        @Html.CheckBoxFor(m => m.Item.Important, new { type = "checkbox", title = "Главное голсование", data_toggle = "toggle", data_on = "Да", data_onstyle = "success", data_off = "Нет", data_offstyle = "danger", data_width = "248" })
        @Html.CheckBoxFor(m => m.Item.Disabled, new { type = "checkbox", title = "Запретить просмотр", data_toggle = "toggle", data_on = "запретить просмотр", data_onstyle = "danger", data_off = "показывать на сайте", data_offstyle = "success", data_width = "248" })


        @Html.CheckBoxFor(m => m.Item.Important, new { type = "checkbox", title = "Главная новость", data_toggle = "toggle", data_on = "Да", data_onstyle = "success", data_off = "Нет", data_offstyle = "danger", data_width = "248" })
        @if (Model.Item != null)
        {
            @Html.ActionLink("Журнал изменений", "Log", "services", new { @id = Model.Item.Id, @type = "page" }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
        }
    </div>
    <div class="buttons">
        @if (User.Identity.HasClaim(Model.ControllerName, "edit") || User.Identity.HasClaim(Model.ControllerName, "create"))
        {
            <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
        }
        @if (Model.Item != null && User.Identity.HasClaim(Model.ControllerName, "delete"))
        {
            <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
        }
        <button type="submit" name="action" value="cancel-btn" data-action="cancel" class="button icon-cancel">Закрыть</button>
    </div>
}