@using System.Security.Claims

@model UsersViewModel

@if (User.Identity.HasClaim(Model.ControllerName, "view"))
{
    <div class="content">
        <h1>@Model.PageName</h1>
        @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
        {
            foreach (var item in Model.List.Items)
            {
                string disabled = (item.Disabled) ? "disabled" : String.Empty;
                <div class="list-item @disabled">
                    <a title="" class="li-caption" href="/admin/siteadmins/item/@item.Id/@ViewBag.urlQuery">@item.FullName</a>
                    <div class="li-desc"><span>Роли:</span> 
                        @foreach (var role in item.Roles)
                        { if (role.Name != "User")
                            {<span>@role.Name</span>}
                        }
                    </div>
                    <div class="li-desc"><span>E-mail:</span> @item.Email</div>
                </div>
            }
            if (Model.List != null && Model.List.Pager != null)
            {
                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @if (Model.Filter != null)
        {
            @Html.Partial("Partial/_filter", Model.Filter)
        }
    </div>

    <div class="buttons">
        <div class="row">
            <div class="col-xs-3">
                @if (User.Identity.HasClaim(ClaimTypes.Role, "Developer") || User.Identity.HasClaim(ClaimTypes.Role, "PortalAdmin") || User.Identity.HasClaim(ClaimTypes.Role, "SiteAdmin"))
                {
                    @Html.ActionLink("Добавить",  "Insert", "SiteAdmins", new { }, new { @id = "addUserToAdmins-btn", @class = "button pop-up_frame icon-create", @data_class = "LogList", @title = "Добавить администратора" })
                }
            </div>
        </div>
       
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
