@model PhotoViewModel
@{
    string noPhoto = "Content/img/nophoto.jpg";
}

@if (Model.UserResolution.IsRead)
{
    <div class="content">
        <h1>@Model.PageName</h1>
        @if (Model.List != null && Model.List.Items != null)
        {
            foreach (var item in Model.List.Items)
            {
                string imgUrl = item.Preview;
                string disabled = item.Disabled ? "disabled" : "";
                string editLink = "/admin/photoalbums/item/" + item.Id;

                if (!String.IsNullOrWhiteSpace(imgUrl))
                {
                    imgUrl = noPhoto;
                }
                else if (imgUrl.IndexOf("http") == -1)
                {
                    if (!File.Exists(Server.MapPath(imgUrl)))
                    {
                        imgUrl = noPhoto;
                    }
                }
                <div class="list-item @disabled">
                    <a href="@editLink">
                        <img src="@imgUrl" alt="@item.Title" class="li-image" />
                    </a>
                    <div class="li-desc">
                        <a href="@editLink" title="@item.Title" class="li-caption">@item.Title</a><br />
                        <span>Дата: </span>@item.Date.ToString("dd.MM.yyyy")
                    </div>
                </div>
            }
            if (Model.List.Pager != null)
            {
                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
    </div>
    <div class="buttons">
        @if (Model.UserResolution.IsWrite)
        {
            using (Html.BeginForm(Model.ActionName, Model.ControllerName))
            {
                <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
            }
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
