@model UsersViewModel

<div class="row topIndent-20">
    <div class="col-md-12">
        <div class="group-block open" title="Сайты">
            @if (Model.Item.Sites.Count() > 0)
            {
                <table class="table admin-pannel-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="90%">Сайт</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Item.Sites)
                        {
                            <tr>
                                <td>
                                    <a class="item-settings-link" href="/admin/roles/item/@role.Id/" data-init="false"></a>
                                </td>
                                <td>
                                    @role.Desc <span class="description"> (@role.Name)</span>
                                </td>
                                <td class="text-right">
                                    <span id="role_@(role.Id)" data-container="body" data-toggle="popover" data-placement="left" data-content=""></span>
                                    <a class="delete-role-btn delete-item-link" data-role="@role.Name" data-user-id="@Model.Item.Id" data-url="/admin/roles/DeleteUserRole" data-init="false"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 0;">
                    <label>Сайт:</label>
                </div>
                <select id="itemSite-select" class="form-control select2">
                    @if (Model.Sites != null && Model.Sites.Count() > 0)
                    {
                        foreach (var role in Model.Sites)
                        {
                            if (Model.Item != null && Model.Item.Roles != null && Model.Item.Sites.Any(m => m.Name == role.Name))
                            {
                                <option value="@role.Name" disabled>@role.Desc</option>
                            }
                            else
                            {
                                <option value="@role.Name">@role.Desc</option>
                            }
                        }
                    }
                </select>

            </div>
            <div class="col-md-4">
                <button type="button" id="add-userSiteLink-btn" style="margin-top: 25px;" class="button icon-create green pull-right" data-user-id="@Model.Item.Id" data-url="/admin/roles/addUserRole">Добавить</button>
            </div>
        </div>
    </div>
</div>
