@using System.Security.Claims

@model UsersViewModel

@if (User.Identity.HasClaim(Model.ControllerName, "view"))
{
    <div class="content">
        <h1>@Model.PageName</h1>
        @if (Model.List != null && Model.List.Items != null && Model.List.Items.Count() > 0)
        {
            foreach (var item in Model.List.Items)
            {
                var site = Model.Sites.SingleOrDefault(t => t.Id == item.SiteId);
                string disabled = (item.Disabled) ? "disabled" : String.Empty;
                <div class="list-item @disabled">
                    <a title="" class="li-caption" href="/admin/admins/item/@item.Id/@ViewBag.urlQuery">@item.FullName</a>
                    <div class="li-desc"><span>Сайт:</span> 
                        @(site != null? site.Title: "")
                    </div>
                    <div class="li-desc">
                        <span>Роли:</span>
                        @string.Join(", ", item.Roles.Select(r=>r.Desc).ToArray())
                    </div>
                    <div class="li-desc"><span>E-mail:</span> @item.Email</div>
                </div>
            }
            if (Model.List != null && Model.List.Pager != null)
            {
                @Html.Partial("Partial/_pager", Model.List.Pager)
            }
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.Partial("Part/Filter")
        <br />
        <br />

        @if (Model.Filter != null)
        {
            @Html.Partial("Part/RoleFilter", Model.Filter)
        }
    </div>

    <div class="buttons">
        <div class="row">
            <div class="col-xs-3">
                @if (User.Identity.HasClaim(ClaimTypes.Role, "Developer") || User.Identity.HasClaim(ClaimTypes.Role, "PortalAdmin") || User.Identity.HasClaim(ClaimTypes.Role, "SiteAdmin"))
                {
                    @Html.ActionLink("Добавить", "Insert", "Admins", new { }, new { @id = "addUserToAdmins-btn", @class = "button pop-up_frame icon-create", @data_class = "LogList", @title = "Добавить администратора" })
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
