@model UsersViewModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
{
    if (User.Identity.HasClaim(Model.ControllerName, "view"))
    {
        <div class="content">
            <h1>@Model.PageName</h1>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <a class="li-caption">@Model.Item.FullName</a><br />
                        <div class="form-group">
                            <label>Email:</label> @Model.Item.Email<br />
                            <label>Телефон:</label> @Model.Item.Phone<br />
                            <label>Дата регистрации:</label> @Model.Item.RegDate<br />
                            <label>Зарегистрирован на сайте:</label> <a href="/admin/sites/item/@Model.Item.SiteId">@Model.Sites.SingleOrDefault(s => s.Id == Model.Item.SiteId).Title</a> 
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Item != null)
            {
                @Html.Partial("Part/Roles")
             }
        </div>

        <div class="dop_info-block">
            <div class="dop-caption">Настройки</div>
            
            @if (Model.Item != null)
            {
                @Html.ActionLink("Изменить пароль", "ForgotPassword", "Services", new { @id = Model.Item.Id }, new { @id = "ChangePass", @class = "button pop-up_frame icon-key-1", @data_class = "ChengePass", @title = "Изменить пароль" })
                @Html.ActionLink("Журнал изменений", "Log", "services", new { @id = Model.Item.Id, @type = "page" }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
                @Html.ActionLink("Активность пользователя", "Log", "services", new { @id = Model.Item.Id, @type = "user" }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
            }
        </div>
    }
    else
    {
        <div class="content"><p>У вас недостаточно прав.</p></div>
    }

    <div class="buttons">
        <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
    </div>
}
